.topbar {
  overflow: hidden;
  background-color: #333;
  height: 3px;
}

.header {
  background: linear-gradient(to left, #ffffff, #047edf 99%) !important;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100px;
}
.menu {
  overflow: hidden;
  background-color: #90caf9;
}
.menu h6 {
  margin: 3px 3px 3px 85px;
  float: left;
}

.footer_custom {
  overflow: hidden;
  background-color: #90caf9;
}
.footer_custom h6 {
  margin: 3px 83px 3px 85px;
}
.footer_right {
  float: right;
}
.footer_left {
  float: left;
}
.table {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table th {
  background-color: #cde5f9;
}
.table-hover tbody tr {
  color: #212529;
  background: #fff;
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: #e2f0fb;
}
/* .table span {
  color: #047edf;
  font-size: 18px;
  font-weight: bolder;
} */
.btn-secondary {
  background: #047edf;
  transition: opacity 0.3s;
  color: green;
}
.btn-secondary:not(.btn-light):focus,
.btn-secondary:not(.btn-light):active {
  background: #047edf;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #047edf;
  background-color: #90caf9;
  border: 1px solid #047edf;
}
.btn-secondary:hover {
  background-color: #90caf9;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #047edf;
  border-color: #007bff;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -7px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #90caf9;
  border-color: #047edf;
}
.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dfeffb;
  border-radius: 0.25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #0c5baa;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #90caf9;
  color: #ffffff;
}
section {
  background: url(http://localhost:3000/assets/images/light-texture.jpg) repeat;
  padding: 5px 0px 10px 0px;
}
.portal {
  background: linear-gradient(to left, #ffffff, #047edf 99%) !important;
  color: white;
  text-align: center;

  margin-left: 85px;
  margin-right: 85px;
  /* border: 3px solid red; */
  border-radius: 5px;
  height: 40px;
  padding-top: 5px;
}
.portal h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  color: #333;
  font-weight: 600;
}
.left_side_logo {
  float: left;
  width: 20%;
}
.left_side_logo img {
  margin-left: -10px;
}
.department_name {
  float: left;
  width: 60%;
  color: white;
}
.department_name h2 {
  font-size: 2.5rem;
  text-align: center;
}
.department_name h5 {
  font-size: 1.5rem;
  text-align: center;
}
.right_side_logo {
  float: left;
  width: 20%;
}
.clearButton {
  border: 0;
  margin-left: 10px;
  margin-bottom: 1px;
}

.right_side_logo img {
  height: 85px;
  margin-right: 80px;
}
.InnerSection {
  background: url(http://localhost:3000/assets/images/green-bg.jpg) repeat;
  padding: 10px 10px;
  border-radius: 4px;
  margin: 10px 85px 1px 85px;
  border: 1px solid #333;
  position: initial;
  min-height: 80vh;
}
.InnerSectionBox {
  background: url(http://localhost:3000/assets/images/green-bg.jpg) repeat;
  padding: 5px 5px;
  border-radius: 4px;
  /* margin: 10px 85px 1px 85px;
  border: 1px solid #333; */
  position: initial;
}

.InnerSectionBox h4 {
  background: linear-gradient(to left, #ffffff, #047edf 99%) !important;
  margin: 1px 1px 1px 1px;
  padding: 5px;
  text-align: center;
  border: 2px solid #047edf;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bolder;
}
.InnerSectionBox ul li {
  left: 0px;
  right: 0px;
  padding: 2px 10px 1px 1px;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  margin-top: 0px;
}
.InnerSectionBox li {
  color: #333;
}
.InnerSectionBox ul li ul li {
  color: darkred;
  margin-left: 10px;
}

.importantInstruction {
  background: url(http://localhost:3000/assets/images/green-bg.jpg) repeat;
}

.importantInstruction h4 {
  background: linear-gradient(to left, #ffffff, #047edf 99%) !important;
  margin: 1px 1px 1px 1px;
  padding: 5px;
  text-align: center;
  border: 2px solid #047edf;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: bolder;
}
.importantInstruction ul li {
  left: 0px;
  right: 0px;
  padding: 0px 0px;
  font-size: 14px;
  line-height: 1;
  list-style: none;
  color: darkred;
}
.importantInstruction ul {
  padding-top: 5px;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}
.pdf {
  color: red;
  margin-left: 5px;
  font-size: 20px;
}
.gif {
  margin: 0px 0px 2px 5px;
}
.mailbox {
  margin: 0px 2px 0px 3px;
}

.homeBotton {
  margin: 5px 86px 8px 86px;
}
.submitButton {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}
.ml-6 {
  margin-left: 5.7rem !important;
}
.disclaimer {
  color: darkred;
}
.inputGroup {
  width: 20%;
  border: 3px solid #dfeffb;
}

.informationLeft {
  text-align: right;
}
.informationRight {
  text-align: left;
}
.informationRow {
  padding: 5px;
}
.registrationCard {
  margin-bottom: -5rem;
}
.formControl {
  margin-left: -60px;
}
.custom-row-class {
  background-color: red;
}
.tablebutton button {
  margin-left: 10px;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .left_side_logo {
    width: 25%;
  }
  .left_side_logo img {
    width: 35;
    height: 50px;
    margin-left: -25px;
  }
  .department_name {
    width: 50%;
    padding-top: 4px;
  }
  .department_name h2 {
    font-size: 1rem;
    text-align: center;
    margin-left: -18px;
  }
  .department_name h5 {
    font-size: 1rem;
    text-align: center;
    margin-left: -10px;
  }
  .right_side_logo {
    width: 25%;
  }
  .right_side_logo img {
    width: 35;
    height: 50px;
    margin-right: 10px;
  }
  .menu {
    overflow: hidden;
    background-color: #333;
    margin: 0px 0px 0px px;
    color: white;
  }
  .menu h6 {
    margin: 0px 0px 0px 10px;
    font-size: x-small;
  }
  .portal {
    background-color: #f1f1f1;
    text-align: center;
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    height: 40 px;
  }
  .portal h3 {
    font-size: inherit;
  }

  .InnerSection {
    background: url(http://localhost:3000/assets/images/green-bg.jpg) repeat;
    padding: 2px 2px;
    border-radius: 4px;
    margin: 1px;
    border: 1px solid #333;
    position: initial;
    min-height: 100px;
  }
  .InnerSectionBox {
    background: url(http://localhost:3000/assets/images/green-bg.jpg) repeat;

    border-radius: 4px;

    position: initial;
  }

  .InnerSectionBox h4 {
    background: linear-gradient(to left, #ffffff, #047edf 99%) !important;
    margin: 1px 1px 1px 1px;
    padding: 5px;
    text-align: center;
    border: 2px solid #047edf;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .InnerSectionBox ul li {
    padding: 2px;
    font-size: 10px;
    line-height: 1;
    margin: 0px;
  }
  .InnerSectionBox li {
    color: #333;
  }
  .InnerSectionBox ul li ul li {
    color: darkred;
    margin-left: 1px;
  }
  .homeBotton {
    margin: 5px;
  }
}
